<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="crescent party plot party plot in ahmedabad sindhu bhavan sindhu bhawan road">
    <meta name="author" content="Crescent Party Lawn Sindhu Bhavan Road Ahmedabad">
	<meta name="keywords" content="Crescent Party Plot, Crescent Party Lawn, Party plots in Ahmedabad, Premium party plot, SG road, Party plots on SG highway, SG Road Party plot, Events, banquet hall, birthday party place, event place, dj party, corporate party">
    <title>Crescent Party Lawn</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //custom-theme -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="css/slider.css" type="text/css" media="screen" property="" />
	<link href="css/style7.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Owl-carousel-CSS -->
	<link href="css/owl.carousel.css" rel="stylesheet">

	<link rel="stylesheet" href="css/team.css" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome-icons -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<script src="js/angular.min.js"></script>
	<script src="js/angularForm.js"></script>
	<!-- //font-awesome-icons -->
	<span><h1 style="display:none;">Crescent Party Plot</h1></span>
	<span><h1 style="display:none;">Crescent Party Lawn</h1></span>
	<span><h1 style="display:none;">Party plots in Ahmedabad</h1></span>
	<span><h1 style="display:none;">Premium party plot</h1></span>
	<span><h1 style="display:none;">SG road</h1></span>
	<span><h1 style="display:none;">Party plots on SG highway</h1></span>
	<span><h1 style="display:none;">SG Road Party plot</h1></span>
	<span><h1 style="display:none;">Events</h1></span>
	<span><h1 style="display:none;">banquet hall</h1></span>
	<span><h1 style="display:none;">birthday party place</h1></span>
	<span><h1 style="display:none;">Event place</h1></span>
	<span><h1 style="display:none;">DJ party</h1></span>
	<span><h1 style="display:none;">corporate party</h1>
</head>

<body>
	<div class="fix-contact-info">
		<div class="pull-left">
			<img class="pull-left" src="images/icon/logo.png" width="36" height="36" class="img-responsive" alt="" />
			<h2 class="pull-left">Crescent Party Lawn</h2>
		</div>
		<div class="pull-right">
			<strong>Mobile: +91 99250 00967, +91 70410 70373</strong>
			<br>
			<strong>Email id: info@crescentlawn.in</strong>
		</div>
		<div class="pull-right social-icon">
			<a href="https://www.facebook.com/crescentpartylawn/"><i class="fa fa-facebook"></i></a>
			<a href="https://www.instagram.com/crescentlawn/"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
	<!-- banner -->
	<div class="banner_top" id="home">
		<div class="wrapper">
			<div class="gallery">
				<div class="gallery__img-block  ">
					<span class="">
                     Events
                </span>
					<img src="images/small_banner/banner1.jpg" thumb-url="images/big_banner/banner11.jpg" alt="" />
				</div>
				<div class="gallery__img-block  current">
					<span class="">
                    Upcoming Events
                </span>
					<img src="images/small_banner/banner2.jpg" thumb-url="images/big_banner/banner22.jpg" alt="" />
				</div>
				<div class="gallery__img-block  ">
					<span class="">
                    Gallery
                </span>
					<img src="images/small_banner/banner3.jpg" thumb-url="images/big_banner/banner33.jpg" alt="" />
				</div>
				<div class="gallery__img-block  ">
					<span class="">
                    Contact Us
                </span>
					<img src="images/small_banner/banner4.jpg" thumb-url="images/big_banner/banner44.jpg" alt="" />
				</div>
				<div class="gallery__img-block  ">
					<span class="">
					Organize your own event
                </span>
					<img src="images/small_banner/banner5.jpg" thumb-url="images/big_banner/banner55.jpg" alt="">
				</div>
				<div class="gallery__img-block  ">
					<span class="">
                  ARCHIVE PHOTOGRAPHS
                </span>
					<img src="images/small_banner/banner6.jpg" thumb-url="images/big_banner/banner66.jpg" alt="" />
				</div>
				<div class="gallery__img-block  ">
					<span class="">
                  ARCHIVE PHOTOGRAPHS
                </span>
					<img src="images/small_banner/banner7.jpg" thumb-url="images/big_banner/banner77.jpg" alt="" />
				</div>
				<div class="gallery__img-block  ">
					<span class="">
                  ARCHIVE PHOTOGRAPHS
                </span>
					<img src="images/small_banner/banner8.jpg" thumb-url="images/big_banner/banner88.jpg" alt="" />
				</div>
				<div class="gallery__img-block  ">
					<span class="">
                  ARCHIVE PHOTOGRAPHS
                </span>
					<img src="images/small_banner/banner9.jpg" thumb-url="images/big_banner/banner99.jpg" alt="" />
				</div>
				<div class="gallery__img-block  ">
					<span class="">
                  ARCHIVE PHOTOGRAPHS
                </span>
					<img src="images/small_banner/banner10.jpg" thumb-url="images/big_banner/banner1010.jpg" alt="" />
				</div>
				<div class="gallery__img-block  ">
					<span class="">
                  ARCHIVE PHOTOGRAPHS
                </span>
					<img src="images/small_banner/banner11.jpg" thumb-url="images/big_banner/banner1111.jpg" alt="" />
				</div>
				<div class="gallery__img-block  ">
					<span class="">
                  ARCHIVE PHOTOGRAPHS
                </span>
					<img src="images/small_banner/banner12.jpg" thumb-url="images/big_banner/banner1212.jpg" alt="" />
				</div>
				<div class="gallery__controls">
				</div>
			</div>
		</div>
		<div class="w3_agile_header">
			<div class="overlay overlay-contentpush">
				<button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>
				<nav>
					<ul>
						<li><a href="#home" class="active scroll">Home</a></li>
						<li><a href="#welcome" class="scroll">About</a></li>
						<li><a href="#stats" class="scroll">Events</a></li>
						<li><a href="#services" class="scroll">Gallery</a></li>
						<li><a href="#contact" class="scroll">Contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="mobile-nav-button">
				<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //banner -->
	<!-- /about -->
	<div class="about" id="welcome">
		<div class="container">
			<div class="wthree_head_section">
				<h2>Crescent Outlandish Celebration</h2>
				<h3 class="agile_tittle"><i class="fa fa-bullhorn" aria-hidden="true"></i> <span>About</span>Landmark</h3>
			</div>
			<div class="agile_wthree_inner_grids">

				<div class="col-md-6 about_agileinfo">
					<h4>Let's make cherish moments</h4>
					<p>Premium lawn located at posh area of ahmedabad with stunning green lawn and state of art landscape</p>
				</div>
				<div class="col-md-6 about_agileinfo_grid_imgs">
					<img src="images/banner1.jpg" alt="" />
					<img src="images/banner6.jpg" alt="" />
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!--//about -->
	<!-- stats -->
	<div class="stats" id="stats">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="agile_tittle"><i class="fa fa-bullhorn" aria-hidden="true"></i> <span>Our</span>Events</h3>
			</div>
			<div class="agile_wthree_inner_grids">
				<div class="col-md-4 w3layouts_stats_left w3_counter_grid">
					<i class="fa fa-smile-o" aria-hidden="true"></i>
					<p class="counter">78</p>
					<h3>Social Functions</h3>
				</div>
				<div class="col-md-4 w3layouts_stats_left w3_counter_grid1">
					<i class="fa fa-instagram" aria-hidden="true"></i>
					<p class="counter">42</p>
					<h3>Corporate Events</h3>
				</div>
				<div class="col-md-4 w3layouts_stats_left w3_counter_grid3">
					<i class="fa fa-star-o" aria-hidden="true"></i>
					<p class="counter">212</p>
					<h3>Rated Us on Google</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="agile_tittle"><i class="fa fa-cogs" aria-hidden="true"></i>
					Gallery</h3>
			</div>
			<div class="agile_wthree_inner_grids">
				<div class="col-md-4">
					<div class="services-info">
					</div>
				</div>
				<div class="col-md-8">
					<div class="services-right-grids">
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon">
								<img data-toggle="modal" data-target=".birthday-model" src="images/icon/birthday.png" class="img-responsive" alt="" />
							</div>
							<div class="services-icon-info">
								<h5>Birthday</h5>
							</div>
						</div>
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon">
								<img data-toggle="modal" data-target=".wedding-model" src="images/icon/wedding.png" class="img-responsive" alt="" />
							</div>
							<div class="services-icon-info">
								<h5>Wedding</h5>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="services-right-grids">
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon">
								<img data-toggle="modal" data-target=".engagement-model" src="images/icon/engagement.png" class="img-responsive" alt="" />
							</div>
							<div class="services-icon-info">
								<h5>Engagement</h5>
							</div>
						</div>
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon">
								<img data-toggle="modal" data-target=".events-model" src="images/icon/event.png" class="img-responsive" alt="" />
							</div>
							<div class="services-icon-info">
								<h5>Events</h5>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="services-right-grids">
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon">
								<img data-toggle="modal" data-target=".celebration-model" src="images/icon/celebration.png" class="img-responsive" alt="" />
							</div>
							<div class="services-icon-info">
								<h5>Celebration</h5>
							</div>
						</div>
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon">
								<img data-toggle="modal" data-target=".meetup-model" src="images/icon/meetup.png" class="img-responsive" alt="" />
							</div>
							<div class="services-icon-info">
								<h5>Meet ups</h5>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->

	<!-- Birthday -->
	<div class="modal fade birthday-model" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img class="img-responsive" src="images/gallery/birthday/1.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/birthday/2.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/birthday/3.png" alt="...">
						</div>
					</div>
		
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--//Birthday-->

	<!-- Wedding -->
	<div class="modal fade wedding-model" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img class="img-responsive" src="images/gallery/wedding/1.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/wedding/2.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/wedding/3.png" alt="...">
						</div>
					</div>
		
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--//Wedding-->

	<!-- engagement -->
	<div class="modal fade engagement-model" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img class="img-responsive" src="images/gallery/engagement/1.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/engagement/2.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/engagement/3.png" alt="...">
						</div>
					</div>
		
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--//engagement-->

	<!-- events -->
	<div class="modal fade events-model" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img class="img-responsive" src="images/gallery/event/1.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/event/2.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/event/3.png" alt="...">
						</div>
					</div>
		
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--//events-->

	<!-- celebration -->
	<div class="modal fade celebration-model" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img class="img-responsive" src="images/gallery/celebration/1.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/celebration/2.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/celebration/3.png" alt="...">
						</div>
					</div>
		
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--//celebration-->

	<!-- meetup -->
	<div class="modal fade meetup-model" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img class="img-responsive" src="images/gallery/meetup/1.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/meetup/2.png" alt="...">
						</div>
						<div class="item">
							<img class="img-responsive" src="images/gallery/meetup/3.png" alt="...">
						</div>
					</div>
		
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--//meetup-->

	<!-- contact -->
	<div class="contact" id="contact" ng-app="contact">
		<div class="col-md-6">
			<div id="map" style="width:100%;height:745px;background:yellow"></div>
		</div>
		<div class="col-md-6 contact-form agile_inner_grids">
			<div class="wthree_head_section two">
				<h3 class="agile_tittle two"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> <span>Our</span>Contact</h3>
			</div>
			<form  name="myform" class="form form-horizontal" ng-controller="contactForm" ng-submit="sendMessage(input)" novalidate>
				<div class="fields-grid">
					<div class="styled-input agile-styled-input-top">
						<input type="text" name="Full Name" ng-model="input.name" required="">
						<label>Full Name</label>
						<span></span>
					</div>
					<div class="styled-input agile-styled-input-top">
						<input type="text" name="Phone" ng-model="input.number"required="">
						<label>Phone</label>
						<span></span>
					</div>
					<div class="styled-input">
						<input type="email" name="Email" ng-model="input.email" required="">
						<label>Email</label>
						<span></span>
					</div>
					<div class="styled-input">
						<input type="text" name="BookingDate" ng-model="input.bookingDate" required="">
						<label>Booking Date</label>
						<span></span>
					</div>
					<div class="styled-input">
						<input type="text" name="PAX" ng-model="input.pax" required="">
						<label>No of persons</label>
						<span></span>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="styled-input textarea-grid">
					<textarea name="Message" ng-model="input.message" required=""></textarea>
					<label>Message (Function/Event Type)</label>
					<span></span>
				</div>
				<p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
				<button type="submit" id="form-submit" class="btn btn-success btn-lg pull-right ">Submit</button>
			</form>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--// contact -->
	<div class="w3l_footer">
		<div class="container">
			<div class="col-md-4">
				<h2><a href="index.html">
						<img class="pull-left" src="images/icon/logo.png" width="36" height="36" class="img-responsive" alt="" />
						<span class="site-logo">CRESCENT PARTY LAWN</span>
					</a>
				</h2>
			</div>
			<div class="col-md-8 botttom-nav-agileits">
				<ul class="nav-w3ls">
					<li><a class="scroll" href="#home">Home</a></li>
					<li><a class="scroll" href="#welcome">About</a></li>
					<li><a class="scroll" href="#portfolio">Photo Gallery</a></li>
					<li><a class="scroll" href="#contact">Contact</a></li>
				</ul>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			<div class="arrow-container animated fadeInDown">
				<a href="#home" class="arrow-2 scroll">
					<i class="fa fa-angle-up"></i>
				</a>
				<div class="arrow-1 animated hinge infinite zoomIn"></div>
			</div>
		</div>
	</div>
	<!--//footer -->

	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- Slider script -->
	<script src="js/slider.js"></script>

	<!-- Kickoff the slider -->
	<script>
		$(document).ready(function () {
			var $gallery = $('.gallery');

			$gallery.vitGallery({
				autoplay: true
			})
		})
	</script>
	<!-- /nav -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/demo1.js"></script>
	<!-- //nav -->
	<!-- js for portfolio lightbox -->
	<script src="js/jquery.chocolat.js "></script>
	<link rel="stylesheet " href="css/chocolat.css " type="text/css" media="all" />
	<!--light-box-files -->
	<script type="text/javascript ">
		$(function () {
			$('.portfolio-grids a').Chocolat();
		});
	</script>
	<!-- /js for portfolio lightbox -->
	<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- requried-jsfiles-for owl -->
	<script src="js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo2").owlCarousel({
				items: 1,
				lazyLoad: false,
				autoPlay: true,
				navigation: false,
				navigationText: false,
				pagination: true,
			});
		});
	</script>
	<script>
		function initMap() {
		  var uluru = {lat: 23.0419054, lng: 72.4886435};
		  var map = new google.maps.Map(
			  document.getElementById('map'), {zoom: 15, center: uluru});
		 var marker = new google.maps.Marker({position: uluru, map: map});
		}
    </script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWmr53x6QjeuqOYdzmmaUPQB4-T_h3Vhg&callback=initMap"></script>
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
</body>

</html>